{% assign isOfficial = site.official_curricula | has: site.carpentry %}

<div class="row g-3 pb-3">

    <!-- left column spans 2 rows -->
    <div class="col-md-6">
        <div class="card h-100">
            <h5 class="card-header">The Carpentries</h5>
            <div class="card-body">
                <p>
                    <strong><a href="https://carpentries.org">The Carpentries</a></strong> project comprises the
                    <a href="{{site.dc_site}}">Data Carpentry</a>,
                    <a href="{{site.hpcc_site}}">High-Performance Computing Carpentry</a>,
                    <a href="{{site.lc_site}}">Library Carpentry</a>, and
                    <a href="{{site.swc_site}}">Software Carpentry</a>
                    communities of Instructors, Trainers, Maintainers, helpers, and supporters who share a mission to
                    teach foundational computational and data science skills to researchers.
                </p>
                {% assign intro_file = site.carpentry | append: '/intro.html' %}
                {% if isOfficial %}
                {% include {{ intro_file }} %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- right column with two stacked cards -->
    <div class="col-md-6 d-flex flex-column gap-3">
        <div class="card flex-fill">
            <h5 class="card-header">Carpentries Clippings</h5>
            <div class="card-body">
                <p class="text-center">
                    <strong>Want to learn more and stay engaged with The Carpentries?</strong>
                </p>
                <p class="text-center">
                    Carpentries Clippings is The Carpentries' monthly newsletter, where we share community news,
                    community job postings, and more.
                </p>
                <p class="text-center">
                    <a class="series-button" href="https://carpentries.org/newsletter/">
                        Sign up to our newsletter
                    </a>
                </p>
            </div>
        </div>
        <div class="card flex-fill">
            <h5 class="card-header">Code of Conduct</h5>
            <div class="card-body">
                {% comment%}
                CODE OF CONDUCT
                {% endcomment %}
                <p class="text-center">
                    Everyone who participates in Carpentries activities is required to conform to the <a
                        href="https://docs.carpentries.org/policies/coc/">Code of Conduct</a>, which also outlines how
                    to report an incident if needed.
                </p>

                <p class="text-center">
                    <a class="series-button" href="https://goo.gl/forms/KoUfO53Za3apOuOK2">
                        Report a Code of Conduct Incident
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>